<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Conteúdos</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <header>
    <div class='links'>
      <!-- links -->
      <a href="/">
      <img src="rocketseat.svg" alt="logo">
    </a>
    </div>
  </header>
  <div id='wrapper'>
   <!-- <h1>Wasley</h1>-->
  </div>

  <section class="cards">

    <div class="card">
      <div class="card-image">
        <img src="https://blog.rocketseat.com.br/content/images/2020/11/thumb-como-renomear-varios-arquivos-de-uma-vez-usando-o-terminal.jpg" alt="thumbnail">
      </div>
      <div class="card-Conteudo">
        <p>Como renomear vários arquivos de uma vez usando o terminal</p>
      </div>
      <div class="card-info">
        <p>por Thiago Marinho</p>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="https://blog.rocketseat.com.br/content/images/2020/11/blog-thumb-utilizando-mapas-no-react-com-leaflet-1.jpg" alt="thumbnail">
      </div>
      <div class="card-Conteudo">
        <p>Mapas com React usando Leaflet</p>
      </div>
      <div class="card-info">
        <p>por Thiago Marinho</p>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="https://blog.rocketseat.com.br/content/images/2020/11/capa_visao-geral-sobre-next-js-na-versao-10-e-atualizacao-do-blog-para-melhorar-a-performance.jpg" alt="thumbnail">
      </div>
      <div class="card-Conteudo">
        <p>Next.JS - Novidades na versão 10 e atualização do blog para melhorar a performance
        </p>
      </div>
      <div class="card-info">
        <p>por Thiago Marinho</p>
      </div>
    </div>

    <!-- <div class="card">
      <div class="card-image">
        <img src="https://images.suamusica.com.br/hxfNwmkN50Y4J_ts0HPQf4B3qGI=/240x240/filters:format(webp)/202561/3164564/cd_cover.jpg" alt="thumbnail">
      </div>
      <div class="card-Conteudo">
        <p>Funk - LowCrazyBSB</p>
      </div>
      <div class="card-info">
        <p>BAIXAR</p>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="https://images.suamusica.com.br/hxfNwmkN50Y4J_ts0HPQf4B3qGI=/240x240/filters:format(webp)/202561/3164564/cd_cover.jpg" alt="thumbnail">
      </div>
      <div class="card-Conteudo">
        <p>Funk - LowCrazyBSB</p>
      </div>
      <div class="card-info">
        <p>BAIXAR</p>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="https://images.suamusica.com.br/hxfNwmkN50Y4J_ts0HPQf4B3qGI=/240x240/filters:format(webp)/202561/3164564/cd_cover.jpg" alt="thumbnail">
      </div>
      <div class="card-Conteudo">
        <p>Funk - LowCrazyBSB</p>
      </div>
      <div class="card-info">
        <p>BAIXAR</p>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="https://images.suamusica.com.br/hxfNwmkN50Y4J_ts0HPQf4B3qGI=/240x240/filters:format(webp)/202561/3164564/cd_cover.jpg" alt="thumbnail">
      </div>
      <div class="card-Conteudo">
        <p>Funk - LowCrazyBSB</p>
      </div>
      <div class="card-info">
        <p>BAIXAR</p>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="https://images.suamusica.com.br/hxfNwmkN50Y4J_ts0HPQf4B3qGI=/240x240/filters:format(webp)/202561/3164564/cd_cover.jpg" alt="thumbnail">
      </div>
      <div class="card-Conteudo">
        <p>Funk - LowCrazyBSB</p>
      </div>

      <div class="card-info">
        <p>BAIXAR</p>
      </div>
    </div> -->

  </section>
<!--
  <div class="modal-overlay active">
    <div class="modal">
      <a class="close-modal">
        <i class="material-icons">
          close
        </i>
      </a>

      <div class="modal-content">
        vídeo aqui 
        <iframe src="" frameborder="0"></iframe>
      </div>
    </div>
  </div>
-->
</body>
</html>